# This function shows N lines of git history
function git_line () {
    git --no-pager log -n $1 --graph --pretty=oneline --format=format:"%Cgreen%<(7,trunc)%aN %C(auto)%h %d%Creset %s (%cd)" --abbrev-commit --date=short --decorate --all;
}

# This function shows N lines of git history and refreshes every 2 seconds
function ggl 
{ 
    while true; do
        clear;
        git_line $1
        sleep 2;
    done
}

# gg is the quick history view that shows 30 lines of git history and refreshes every 2 seconds
alias gg='ggl 30'
# Shortcut for git status. Also shows one single line of git history
alias gs='git_line 1; git status'
